.body-register {
  background-image: url("../../assets/back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  padding: 10px;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
}
button,
input {
  padding: 10px;
}
label {
  color: rgb(255, 255, 255);
}
h2 {
  color: white;
  align-items: center;
  margin: 20px;
  text-align: center;
}
form {
  width: 230px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 60px;
}
